#map {
    height: 100%;
  }

html,body {
    height: 91%;
    margin: 0;
    padding: 0;
  }

.bg-dark{
    background-color: #0372e0!important;
}

.navbar-light a{
    color: whitesmoke !important;
}

.bg-light {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0372e0 !important;
    color: white;
    text-align: center;
}
.myHide {
  display: none;
}

.myVisible {
  display: block;
}

.ola, .kinisi, .thermansi, .xrimata, .litra{
  margin: 5px 15px;
}

#check1, #check2, #check3, #check4, #check5{
  margin-right: 10px;
}

.buttons{
  display: flex;
  flex-direction: column;
}


.input_posotita ,
.monada {
  display: inline-block;
}

.submit_btn {
  display: block;
}